iframe {
  width: 100%;
  height: 75vh;
  object-fit: cover;
}

.video-iframe {
  opacity: 0.4;
}

.card-img {
  /* width: 100vw; */
  height: 75vh;
  width: 100%;

  object-fit: cover;
  opacity: 0.4;
}
